<section>
  <div class="slider">
    <ul>
      <li>
        <img src="assets/planes.jpg" alt="">
      </li>
      <li>
        <img src="asseets/salud.jpg" alt="">
      </li>
      <li>
        <img src="assets/adn.jpg" alt="">
      </li>
      <li>
        <img src="assets/ejercicio.jpg" alt="">
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img src="assets/doctor.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Somos un grupo de profesionales que ofrecen los mejores servicios
            para que usted y su familia solo puedan preocuparse de vivir una vida de calidad.
            <a href="#">
              <h5 class="justify-content-center"><span class="badge badge-danger">CONOCER MAS</span></h5>
            </a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img src="assets/peso.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Tenemos una gran variedad de ofertas disponibles
            Proponemos precios y planes de servicio acomodados para todos los
            gustos, de esta forma podrás disfrutar de nuestros mejores servicios sin tener que
            preocuparse bastante por su dinero.
            <a href="#">
              <h5 class="justify-content-center"><span class="badge badge-danger">CONOCER MAS</span></h5>
            </a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img src="assets/mail.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Pongase en contacto con nosotros mediante correo electronico
            Si desea realizar una consulta no dude en enviarnos un email a obrasocial@jujuy.com
            <a href="#">
              <h5 class="justify-content-center"><span class="badge badge-danger">CONOCER MAS</span></h5>
            </a>
        </div>
      </div>
    </div>




  </div>

</section>
