/* Section */
section {
  clear: both;
  padding-top: 30px;
}

section .slider {
  width: 100%;
  margin-bottom: -20px;
  height: 100%;
  overflow: hidden;
  height: 90%;
  padding-bottom: 30px;
}

section .slider ul {
  display: flex;
  padding: 0;
  width: 400%;

  animation: cambio 20s infinite alternate linear;
}

section .slider li {
  width: 100%;
  list-style: none;
}

section .slider img {
  width: 100%;
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }

  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }

  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }

  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }

  100% {
    margin-left: -300%;
  }
}

.card img {
  width: 18em;
  height: 15em;
}
